.profil-photo {
  width: 15em;
  height: 15em;
  border-radius: 100%;
  opacity: 0.75;
  box-shadow: 10px 10px 20px rgb(146, 110, 97), -10px -10px 20px rgb(146, 110, 97);
}

.div-infos .flex-ident {
  display: flex;
  font-display: column;
  text-align: right;
  justify-content: space-between;
  width: 8em;
}

.div-infos .cat {
  color: #000;
  font-weight: 500;
  text-align: justify;
}

@media screen and (min-width: 960px) {
  .profil-description {
    width: 80%;
    font-size: 1.25em;
  }
  /* .flex-profil {
    margin: auto;
  } */
  .flex-profil label {
    margin-top: 2em;
  }
}